{% extends 'base.html' %}
{% load static %}
{% block content %}
    <title>{{ collection.title }}</title>
    <link rel="stylesheet" href="{% static 'css/review_collections/collection_info.css' %}">
    <link rel="stylesheet" href="{% static 'css/user_profile/profile.css' %}">
    <div class="collection-block">
        <div class="collection-header">
            <div class="collection-cover">
                <img src="{{ collection.cover.url }}" alt="{{ collection.title }}">
            </div>

            <div class="collection-info">
                <h1 class="collection-title">{{ collection.title }}</h1>
                {% if collection.description %}
                    <p class="collection-description">{{ collection.description }}</p>
                {% else %}
                    <span style="color: #666666">No description</span>
                {% endif %}


                <div class="item-footer">
                    <p class="collection-meta">Reviews in collection: {{ collection.count_reviews }}</p>
                    <p class="collection-meta">Posted by: {{ collection.user }}</p>
                    {% if collection.user == request.user %}
                        <div class="item-actions">
                            <form
                                id="deleteForm"
                                data-url="{% url 'api:collection-detail' collection.id %}"
                                data-redirect-url="{% url 'user_profile:user-profile' collection.user.username %}"
                            >
                                {% csrf_token %}
                                <button type="submit">Delete</button>
                            </form>
                            <a href="{% url 'review_collections:update-collection' collection.id %}">Update</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="collection-items">
            {% for review in collection.reviews.all %}
                <a href="{% url 'reviews:review-info' review.id %}" style="text-decoration: none">
                    <div class="item-card">
                        <div class="img-container">
                            <img src="{{ review.cover.url }}" alt="Обложка">
                        </div>
                        <div class="item-content">
                            <h2>{{ review.title }}</h2>
                            <p class="description">
                                {% if review.description %}
                                    {{ review.description }}
                                {% else %}
                                    <span style="color: #666666">No description</span>
                                {% endif %}
                            </p>
                            <div class="item-footer">
                                <div class="item-type">
                                    {{ review.rating }}/10
                                </div>
                                <div class="item-type">
                                    {{ review.type }}
                                </div>
                                <div class="item-tags">
                                    {% for tag in review.tags.all %}
                                        {{ tag }}{% if not forloop.last %},{% endif %}
                                    {% empty %}
                                        No tags
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
    
    <script src="{% static 'js/reviews/delete.js' %}"></script>
{% endblock %}