{% load static %}
<link href="{% static 'css/includes/header.css' %}" rel="stylesheet">
<nav class="navbar">
    <div class="navbar-container">
        <a href="{% url 'core:home' %}" class="navbar-logo">
            <img src="{% static 'img/logo.png' %}" alt="Logo" class="logo-img">
        </a>
        <input type="checkbox" id="burger-toggle" class="burger-toggle" />
        <label for="burger-toggle" class="burger">
          <span></span>
          <span></span>
          <span></span>
        </label>
        <ul class="navbar-menu">
            {% if request.user.is_authenticated %}
                <li><a href="{% url 'reviews:create-review' %}">Create review</a></li>
                <li><a href="{% url 'user_profile:user-profile' request.user.username %}">Profile</a></li>
            	<li>
                    <form method="post" action="{% url 'accounts:logout' %}">
                        {% csrf_token %}
                        <button type="submit">
                            Logout
                        </button>
                    </form>
                </li>
            {% else %}
                <li><a href="{% url 'accounts:login' %}">Login</a></li>
                <li><a href="{% url 'accounts:signin' %}">Signin</a></li>
            {% endif %}
            <li><a href="#">About</a></li>
        </ul>
    </div>
</nav>
