{% for item in items %}
    <a href="{% url 'items:item-info' item.id %}" style="text-decoration: none">
        <div class="item-card">
            <div class="img-container">
                <img src="{{ item.cover.url }}" alt="Обложка">
            </div>
            <div class="item-content">
                <h2>{{ item.title }}</h2>
                <p class="description">
                    {% if item.description %}
                        {{ item.description }}
                    {% else %}
                        <span style="color: #666666">No description</span>
                    {% endif %}
                </p>
                <div class="item-tags">
                    {% for tag in item.tags.all %}
                        {{ tag }}{% if not forloop.last %},{% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </a>
{% endfor %}