{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link href="{% static 'css/user_profile/profile.css' %}" rel="stylesheet">
    <title>{{ username }}</title>
    <h1>Profile: {{ username }}</h1>
    <h1>Items</h1>
    <div class="profile-container">
        {% for item in user_items %}
            <a href="{% url 'items:item_info' username item.id %}" style="text-decoration: none">
                <div class="item-card">
                    <img src="{{ item.cover.url }}" alt="Обложка">
                    <h2>{{ item.title }}</h2>
                    <p>{{ item.description }}</p>
                    <p><strong>Rating:</strong> {{ item.rating }}/10</p>
                    <div class="item-tags">
                    {% for tag in item.tags.all %}
                        {% if forloop.last %}
                            {{ tag }}
                        {% else %}
                            {{ tag }},
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </a>
        {% endfor %}
        <br>
    </div>
    <h1>Collections</h1>
    <div class="profile-container">
        {% for collection in user_collections %}
            <a href="{% url 'item_collections:collection_info' username collection.id %}" style="text-decoration: none">
                <div class="item-card">
                    <img src="{{ collection.cover.url }}" alt="Обложка">
                    <h2>{{ collection.title }}</h2>
                    <p>{{ collection.description }}</p>
                </div>
            </a>
        {% endfor %}
    </div>
    <div class="buttons">
        <a href="{% url 'items:all_items' username %}" class="manage-button">All items</a>
        <a href="{% url 'items:create_item' %}" class="manage-button">Create review</a>
        <a href="{% url 'item_collections:all_collections' username %}" class="manage-button">All collections</a>
        <a href="{% url 'item_collections:create_collection' %}" class="manage-button">Create collection</a>
    </div>
{% endblock %}
