{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link href="{% static 'css/user_profile/profile.css' %}" rel="stylesheet">
    <title>{{ username }}</title>
    <h1 style="text-align: center; padding-top: 10px">Profile: {{ username }}</h1>
    <h1 style="text-align: center; padding-top: 10px">Reviews</h1>
    <div class="profile-container">
        {% if request.user.id == user_id %}
        <a href="{% url 'items:create_item' %}" style="text-decoration: none">
            <div class="item-card">
                <div class="img-container">
                    <img src="{% static 'img/plus.png' %}" alt="Обложка">
                </div>
                <div class="item-content">
                    <h2>New review</h2>
                    <p class="description">
                        Create new review
                    </p>
                    <div class="item-tags">
                        New
                    </div>
                </div>
            </div>
        </a>
        {% endif %}
            {% include 'includes/items.html' %}
    </div>
    <div class="buttons">
        <a href="{% url 'items:all_items' username %}" class="manage-button">All reviews</a>
    </div>
    <h1 style="text-align: center;">Collections</h1>

    <div class="profile-container">
        {% if request.user.id == user_id %}
            <a href="{% url 'item_collections:create_collection' %}" style="text-decoration: none">
                <div class="item-card">
                    <div class="img-container">
                        <img src="{% static 'img/plus.png' %}" alt="Обложка">
                    </div>
                    <div class="item-content">
                        <h2>New collection</h2>
                        <p class="description">
                            Create new collection
                        </p>
                    </div>
                </div>
            </a>
        {% endif %}
        {% include 'includes/collections.html' %}
    </div>
    <div class="buttons">
        <a href="{% url 'item_collections:all_collections' username %}" class="manage-button">All collections</a>
    </div>
{% endblock %}
