{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link href="{% static 'css/reviews/review_info.css' %}" rel="stylesheet">
    <title>{{ review.title }}</title>
    <div class="item-info-container">
        <div class="item-info-cover-wrapper">
            <img src="{{ review.cover.url }}" alt="Cover Image" class="item-info-cover">
    
            <div class="item-info-tags">
                {% for tag in review.tags.all %}
                    <a 
                            href="{% url 'reviews:all-reviews' review.user.username %}?tag_filter={{ tag }}"
                            style="text-decoration: none"
                            class="tag"
                    >{{ tag }}
                    </a>
                {% empty %}
                    <span class="tag no-tags">No tags</span>
                {% endfor %}
            </div>
        </div>
    
        <div class="item-info-content">
            <div class="item-info-title">{{ review.title }}</div>
            <div class="item-info-rating">Rating: {{ review.rating }}/10</div>
            <div class="item-info-description">
                {% if review.description %}
                    {{ review.description }}
                {% else %}
                    <span style="color: #666666">No description</span>
                {% endif %}
            </div>
            
            <div class="item-footer">
                <div class="item-info-meta">Posted by: {{ review.user }}</div>
    
                {% if review.user == request.user %}
                <div class="item-actions">
                    <form
                        id="deleteForm"
                        data-url="{% url 'api:review-detail' review.id %}"
                        data-redirect-url="{% url 'user_profile:user-profile' review.user.username %}"
                    >
                        {% csrf_token %}
                        <button type="submit">Delete</button>
                    </form>
                    <a href="{% url 'reviews:update-review' review.id %}">Update</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

<script src="{% static 'js/reviews/delete.js' %}"></script>
{% endblock %}
