{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favicon-96x96.png' %}">
        <link rel="icon" type="image/png" sizes="192x192" href="{% static 'img/web-app-manifest-192x192.png' %}">
        <link rel="icon" type="image/png" sizes="512x512" href="{% static 'img/web-app-manifest-512x512.png' %}">
        <link rel="icon" type="image/svg+xml" href="{% static 'img/favicon.svg' %}">
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
        <link rel="manifest" href="{% static 'img/site.webmanifest' %}">
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
    </head>
    <body>
        {% include 'includes/header.html' %}
        {% block content %}
        {% endblock %}
    </body>
</html>