{% extends 'base.html' %}
{% load static %}
{% block content %}
    {{ item.title }}
    {{ item.description }}
    {{ item.user }}
    {% if item.user == request.user %}
        <form
                id="deleteForm"
                data-url="{% url 'api:item_delete' item.id %}"
                data-redirect-url="{% url 'user_profile:user_profile' item.user.username %}"
        >
            {% csrf_token %}
            <button type="submit">Delete</button>
        </form>
    {% endif %}
    <a href="{% url 'items:update_item' item.id %}">Update</a>

    <script src="{% static 'js/items/delete_item.js' %}"></script>

{% endblock %}
