{% extends 'base.html' %}
{% load static %}
{% block content %}
    <title>{{ collection.title }}</title>
    {{ collection.user }}
    <link rel="stylesheet" href="{% static 'css/items_collections/collection_info.css' %}">
    <link rel="stylesheet" href="{% static 'css/user_profile/profile.css' %}">
    <div class="collection-block">
        <div class="collection-header">
            <div class="collection-cover">
                <img src="{{ collection.cover.url }}" alt="{{ collection.title }}">
            </div>

            <div class="collection-info">
                <h1 class="collection-title">{{ collection.title }}</h1>
                <p class="collection-description">{{ collection.description }}</p>
                <p class="collection-meta">Items in collection: {{ collection.count_items }}</p>
            
                {% if collection.user == request.user %}
                    <div class="item-actions">
                        <form
                            id="deleteForm"
                            data-url="{% url 'api:collection-delete' collection.id %}"
                            data-redirect-url="{% url 'user_profile:user-profile' collection.user.username %}"
                        >
                            {% csrf_token %}
                            <button type="submit">Delete</button>
                        </form>
                        <a href="{% url 'item_collections:update-collection' collection.id %}">Update</a>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="collection-items">
            {% for item in collection.items.all %}
                <a href="{% url 'items:item-info' item.id %}" style="text-decoration: none">
                    <div class="item-card">
                        <div class="img-container">
                            <img src="{{ item.cover.url }}" alt="Обложка">
                        </div>
                        <div class="item-content">
                            <h2>{{ item.title }}</h2>
                            <p class="description">
                                {% if item.description %}
                                    {{ item.description }}
                                {% else %}
                                    <span style="color: #666666">No description</span>
                                {% endif %}
                            </p>
                            <div class="item-tags">
                                {% for tag in item.tags.all %}
                                    {{ tag }}{% if not forloop.last %},{% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
    
    <script src="{% static 'js/items/delete_item.js' %}"></script>
{% endblock %}