{% extends 'base.html' %}
{% load static %}
{% block content %}
    
    <form 
            id="createForm"
            action="{% url 'api:collection-create' %}"
            data-redirect-url="{% url 'user_profile:user-profile' request.user.username %}"
    >
        {% csrf_token %}
        <label for="id_title">Title:</label>
        <input type="text" name="title" id="id_title" maxlength="127" required>
    
        <label for="id_description">Description:</label>
        <textarea name="description" id="id_description"></textarea>
        
        <label for="id_cover">Cover Image:</label>
        <input type="file" name="cover" id="id_cover">
        
        <label for="id_items">Items:</label>
        <select name="items" id="id_items" multiple>
            {% for item in items %}
                <option value="{{ item.id }}">{{ item.title }}</option>
            {% endfor %}
        </select>
        
        <input type="hidden" name="user" id="user" value="{{ request.user.id }}">
        <button type="submit">Save</button>
    </form>
    
    <script src="{% static 'js/items/create_item.js' %}"></script>
{% endblock %}